html, body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar__logo {
    width: 279px;
}

.topbar__nav li {
    list-style: none;
    display: inline-block;
}

.container {
    width: 1420px;
    max-width: 100%;
    margin: 0 auto;
}